{% import_yaml "chrony/defaults.yaml" as default_settings %}
{% import_yaml "chrony/osmap.yaml" as osmap %}

{% set os_family = salt['grains.filter_by'](osmap, grain='os_family') or {} %}
{% do default_settings.chrony.update(os_family) %}
{% set lookup = salt['pillar.get']('chrony:lookup',
                                   default=default_settings.chrony,
                                   merge=True) %}

{% set chrony_settings = salt['pillar.get']('chrony', default=lookup, merge=True) %}

